{% extends "layout-index.html" %} {% block pageTitle %} Schools and colleges
within 5 miles of Newcastle-upon-Tyne, Tyne & Wear {% endblock %} {% block
content %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="search">Search</a>
    </li>
  </ol>
</div>
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Search for schools, colleges and multi-academy trusts
      </h1>

      <p class="govuk-body">
        You can search for schools, colleges and multi-academy trusts in England
        and check their performance.
      </p>

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">Contents</h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#school-college">
              Find a school or college
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#mat">
              Find a multi-academy trust
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel" id="school-college">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="name-ref"
                    name="search"
                    type="radio"
                    data-aria-controls="conditional-name"
                  />
                  <label class="govuk-label govuk-radios__label" for="name-ref">
                    School or college name or Unique Reference Number (URN)
                  </label>
                </div>
                <div
                  class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-name"
                >
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="name-ref-enter">
                      Enter school or college name or URN
                    </label>
                    <input
                      class="govuk-input govuk-!-width-one-third"
                      id="name-ref-enter"
                      name="name-ref-enter"
                      spellcheck="false"
                    />
                  </div>
                  <br />
                  <button class="govuk-button" data-module="govuk-button">
                    Search
                  </button>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="location"
                    name="search"
                    type="radio"
                    data-aria-controls="conditional-location"
                  />
                  <label class="govuk-label govuk-radios__label" for="location">
                    Location
                  </label>
                </div>
                <div
                  class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-location"
                >
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="town-city">
                      Enter a town, city or postcode in England
                    </label>
                    <input
                      class="govuk-input govuk-!-width-one-third"
                      id="town-city"
                      name="town-city"
                      type="tel"
                      autocomplete="tel"
                    />
                    <select
                      class="govuk-select"
                      id="sort"
                      name="sort"
                      style="min-width: fit-content"
                    >
                      <option value="1">1 mile</option>
                      <option value="3" selected>3 miles</option>
                      <option value="5">5 miles</option>
                      <option value="10">10 miles</option>
                      <option value="15">15 miles</option>
                    </select>
                  </div>
                  <br />
                  <button class="govuk-button" data-module="govuk-button">
                    Search
                  </button>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="la"
                    name="search"
                    type="radio"
                    value="text"
                    data-aria-controls="conditional-la"
                  />
                  <label class="govuk-label govuk-radios__label" for="la">
                    Local authority
                  </label>
                </div>
                <div
                  class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-la"
                >
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="local-auth">
                      Enter local authority name or code
                    </label>
                    <input
                      class="govuk-input govuk-!-width-one-third"
                      id="local-auth"
                      name="local-auth"
                      type="tel"
                      autocomplete="tel"
                    />
                  </div>
                  <br />
                  <button class="govuk-button" data-module="govuk-button">
                    Search
                  </button>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="pc"
                    name="search"
                    type="radio"
                    value="text"
                    data-aria-controls="conditional-pc"
                  />
                  <label class="govuk-label govuk-radios__label" for="pc">
                    Parliamentary constituency
                  </label>
                </div>
                <div
                  class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-pc"
                >
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="parl-const">
                      Enter parliamentary constituency name
                    </label>
                    <input
                      class="govuk-input govuk-!-width-one-third"
                      id="parl-const"
                      name="parl-const"
                      type="tel"
                      autocomplete="tel"
                    />
                  </div>
                  <br />
                  <button class="govuk-button" data-module="govuk-button">
                    Search
                  </button>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="mat">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="mat-name"
                    name="search"
                    type="radio"
                    data-aria-controls="conditional-mat"
                  />
                  <label class="govuk-label govuk-radios__label" for="mat-name">
                    Multi-academy trust name
                  </label>
                </div>
                <div
                  class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-mat"
                >
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="mat-enter">
                      Enter multi-academy trust name
                    </label>
                    <input
                      class="govuk-input govuk-!-width-one-third"
                      id="mat-enter"
                      name="mat-enter"
                      spellcheck="false"
                    />
                  </div>
                  <br />
                  <button class="govuk-button" data-module="govuk-button">
                    Search
                  </button>
                </div>
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="mat-location"
                    name="search"
                    type="radio"
                    data-aria-controls="conditional-mat-location"
                  />
                  <label
                    class="govuk-label govuk-radios__label"
                    for="mat-location"
                  >
                    Location
                  </label>
                </div>
                <div
                  class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-mat-location"
                >
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="mat-town-city">
                      Enter a town, city or postcode in England
                    </label>
                    <input
                      class="govuk-input govuk-!-width-one-third"
                      id="mat-town-city"
                      name="mat-town-city"
                      type="tel"
                      autocomplete="tel"
                    />
                    <select
                      class="govuk-select"
                      id="sort"
                      name="sort"
                      style="min-width: fit-content"
                    >
                      <option value="1">1 mile</option>
                      <option value="3" selected>3 miles</option>
                      <option value="5">5 miles</option>
                      <option value="10">10 miles</option>
                      <option value="15">15 miles</option>
                    </select>
                  </div>
                  <br />
                  <button class="govuk-button" data-module="govuk-button">
                    Search
                  </button>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
