{% extends "layout-index.html" %} {% block pageTitle %} Find and check the
performance of schools and colleges in England {% endblock %} {% block content
%}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/2.1.2/chartjs-plugin-annotation.min.js"></script>

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        Progress 8 score <img src="/public/images/help.svg" />
      </h2>

      <p class="govuk-body">
        The academic progress that pupils make from the end of key stage 2 to
        the end of key stage 4. This is based on 8 qualifications.
        <br />This rating is above average because the entire interval is above
        0, and the score is greater than 0 but lower than 0.5.<br />
      </p>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Rating</th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--light-green"
                >Above average</strong
              >
            </td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Score</th>
            <td class="govuk-table__cell">0.25</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Confidence interval</th>
            <td class="govuk-table__cell">0.05 to 0.39</td>
          </tr>
        </tbody>
      </table>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            More information about this score
          </span>
        </summary>
        <div class="govuk-details__text govuk-details-noborder">
          Pupils here achieve up to half a grade lower in each qualification,
          compared to similar pupils across the country.<br />
          121 out of 151 pupils at the end of Key stage 4 are included in
          calculating this.
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Show Progress 8 graph
          </span>
        </summary>
        <div class="govuk-details__text govuk-details-noborder">
          <div style="height: 200px">
            <canvas id="progress"></canvas>
            <script>
              Chart.register(ChartDataLabels);
              var xLabels = {
                "-1": ["Well", "below", "average"],
                "-0.5": ["Below", "average"],
                0.5: ["Above", "average"],
                1: ["Well", "above", "average"],
              };

              var averageLabel = {
                0: "Average",
              };

              var chrt = document.getElementById("progress").getContext("2d");
              const myChart = new Chart(progress, {
                type: "scatter",
                data: {
                  labels: [["Lower", "range"], "Score", ["Upper", "range"]],
                  datasets: [
                    {
                      //update to clamp upper & lower limits to -1.4/1.4
                      data: [
                        { x: 0.05, y: 1 },
                        { x: 0.25, y: 1 },
                        { x: 0.39, y: 1 },
                      ],
                      backgroundColor: "#ddedd4",
                      borderColor: ["#0b0c0c"],
                      borderWidth: 2,
                      radius: 4,
                      showLine: true,
                      datalabels: {
                        labels: {
                          name: {
                            align: function (context) {
                              const index = context.dataIndex;
                              const value = context.dataset.data[index].x;
                              if (index === 0 && value >= -1) return -145;
                              else if (index === 2 && value <= 1) return -35;
                              else return "top";
                            },
                            formatter: function (value, ctx) {
                              return ctx.chart.data.labels[ctx.dataIndex];
                            },
                          },
                          value: {
                            align: function (context) {
                              const index = context.dataIndex;
                              const value = context.dataset.data[index].x;
                              if (index === 0 && value >= -1) return 145;
                              if (index === 2 && value <= 1) return 35;
                              else return "bottom";
                            },
                            formatter: function (value, ctx) {
                              //update if clamping, to show original score not x co-ord
                              return value.x;
                            },
                          },
                        },
                      },
                    },
                  ],
                },
                options: {
                  stacked: true,
                  responsive: true,
                  maintainAspectRatio: false,
                  plugins: {
                    annotation: {
                      annotations: {
                        average: {
                          type: "line",
                          borderDash: [3, 3],
                          xMin: 0,
                          xMax: 0,
                          borderColor: "#b1b4b6",
                          drawTime: "beforeDraw",
                          borderWidth: 2,
                        },
                        aboveAverage: {
                          borderColor: "#b1b4b6",
                          drawTime: "beforeDraw",
                          type: "line",
                          xMin: 0.5,
                          xMax: 0.5,
                          beforeDraw: true,
                          borderWidth: 1,
                        },
                        wellAboveAverage: {
                          borderColor: "#b1b4b6",
                          drawTime: "beforeDraw",
                          type: "line",
                          xMin: 1.5,
                          xMax: 1.5,
                          beforeDraw: true,
                          borderWidth: 2,
                        },
                        belowAverage: {
                          borderColor: "#b1b4b6",
                          drawTime: "beforeDraw",
                          type: "line",
                          xMin: -0.5,
                          xMax: -0.5,
                          beforeDraw: true,
                          borderWidth: 1,
                        },
                        wellBelowAverage: {
                          borderColor: "#cdcdcd",
                          drawTime: "beforeDraw",
                          type: "line",
                          xMin: -1.5,
                          xMax: -1.5,
                          beforeDraw: true,
                          borderWidth: 2,
                        },
                      },
                    },
                    tooltip: {
                      enabled: false,
                    },
                    legend: {
                      display: false,
                    },
                    datalabels: {
                      color: "#0b0c0c",
                      font: {
                        family: "nta, Arial, sans-serif",
                        size: 12,
                      },
                    },
                  },
                  scales: {
                    y: {
                      display: false,
                    },
                    x: {
                      afterTickToLabelConversion: function (chart) {
                        chart.ticks.push({ value: 0, label: ["0", "Average"] });
                      },
                      max: 1.5,
                      min: -1.5,
                      grid: {
                        display: false,
                      },
                      ticks: {
                        stepSize: 0.25,
                        color: "#0b0c0c",
                        callback: function (value, index, values) {
                          return xLabels[value];
                        },
                        font: {
                          family: "nta, Arial, sans-serif",
                          size: 12,
                        },
                      },
                    },
                  },
                },
              });
            </script>
          </div>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Local authority and England scores
          </span>
        </summary>
        <div class="govuk-details__text govuk-details-noborder">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 33%">
                  Area
                </th>
                <th scope="row" class="govuk-table__header" style="width: 33%">
                  Score
                </th>
                <th scope="row" class="govuk-table__header" style="width: 33%">
                  Confidence interval
                </th>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  Newcastle upon Tyne
                </th>
                <td class="govuk-table__cell">
                  -0.25<br />
                  <strong class="govuk-tag govuk-tag--yellow"> Average </strong>
                </td>
                <td class="govuk-table__cell">-0.5 to -0.1</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">England</th>
                <td class="govuk-table__cell">
                  -0.03<br /><strong class="govuk-tag govuk-tag--yellow">
                    Average
                  </strong>
                </td>
                <td class="govuk-table__cell">Not applicable</td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How many schools and colleges are in each rating?
          </span>
        </summary>
        <div class="govuk-details__text govuk-details-noborder">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Rating</th>
                <th scope="row" class="govuk-table__header">
                  Percentage of schools and colleges
                </th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green"
                    >Well above average</strong
                  >
                </td>
                <td class="govuk-table__cell">13%</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--light-green"
                    >Above average</strong
                  >
                </td>
                <td class="govuk-table__cell">15%</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--yellow">Average</strong>
                </td>
                <td class="govuk-table__cell">33%</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--orange"
                    >Below average</strong
                  >
                </td>
                <td class="govuk-table__cell">17%</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--red"
                    >Well below average</strong
                  >
                </td>
                <td class="govuk-table__cell">22%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
    </div>
  </div>
</main>

{% endblock %}
