{% extends "layout-index.html" %} {% block pageTitle %} Find and check the
performance of schools and colleges in England {% endblock %} {% block content
%}
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Find and check the performance of schools and colleges in England
      </h1>
      <p class="govuk-body">
        Use this service to search and compare schools and colleges. You can
        check their performance.
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Inspection data summary reports</li>
        <li>School performance summaries</li>
        <li>Key Stage 2</li>
        <li>data and additional reports</li>
        <li>Key Stage 1 data</li>
        <li>Phonics data</li>
        <li>Early years foundation stage data</li>
        <li>Absence and exclusions</li>
        <li>School characteristics</li>
      </ul>
      <a href="search" role="button" class="govuk-button"> Search now </a>
    </div>
  </div>
</main>

{% endblock %}
