{% extends "layout-index.html" %} {% block pageTitle %} Index {% endblock %} {%
block content %}

<a href="#" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div
        class="govuk-notification-banner"
        role="region"
        aria-labelledby="govuk-notification-banner-title"
        data-module="govuk-notification-banner"
      >
        <div class="govuk-notification-banner__header">
          <h2
            class="govuk-notification-banner__title"
            id="govuk-notification-banner-title"
          >
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Coronavirus (COVID-19) impact on 2021/22 school and college
            performance data
          </p>

          <p class="govuk-body">We recommend:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Not making comparisons with data from previous years.</li>
            <li>
              Speaking to the school or college about factors that can have an
              effect on results.
            </li>
          </ul>
        </div>
      </div>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m"
          >Part of <a href="">The Gosforth Federated Academies Limited</a></span
        >Gosforth Academy
      </h1>
    </div>

    <div class="govuk-grid-column-one-half">
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Ofsted rating</th>
            <td class="govuk-table__cell">
              <strong>2</strong> - Good (Inspected 23 June 2022)
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Ages</th>
            <td class="govuk-table__cell">13 to 18</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sex</th>
            <td class="govuk-table__cell">Mixed</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Admissions process</th>
            <td class="govuk-table__cell">Non-selective</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Location</th>
            <td class="govuk-table__cell">
              Knightsbridge, Newcastle-upon-Tyne, NE3 2JH
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Number of pupils</th>
            <td class="govuk-table__cell">
              225
            </td>
          </tr>
        </tbody>
      </table>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            More school information
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Type of school</th>
                <td class="govuk-table__cell">Academy sponsor led</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  Religious character
                </th>
                <td class="govuk-table__cell">Does not apply</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Local authority</th>
                <td class="govuk-table__cell">Newcastle upon Tyne</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Headteacher</th>
                <td class="govuk-table__cell">Mrs Lauren Kelly</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Sex</th>
                <td class="govuk-table__cell">Mixed</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  Admissions process
                </th>
                <td class="govuk-table__cell">Non-selective</td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
    </div>
    <div class="govuk-grid-column-one-half">
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">School website (opens in a new tab)</a>
        </li>
        <li>
          <a class="govuk-link" href="#"
            >Financial information (opens in a new tab)</a
          >
        </li>
        <li>
          <a class="govuk-link" href="#">Download data for 2019 to 2021</a>
        </li>
        <li>
          <a class="govuk-link" href="#"
            >Apply for a place (opens in a new tab)</a
          >
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-full">
      <div class="govuk-card">
        <div class="card-content">
          <h2 class="govuk-heading-m">Secondary information</h2>

          <p class="govuk-body">This includes measures on:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>key stage 4 information</li>
            <li>how much progress pupils at this school make</li>
            <li>information about students at this school</li>
          </ul>
        </div>
        <div class="card-button">
          <button class="govuk-button" data-module="govuk-button">
            View secondary
          </button>
        </div>
      </div>
      <div class="govuk-card">
        <div class="card-content">
          <h2 class="govuk-heading-m">Absence and student information</h2>

          <p class="govuk-body">This includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>absence rates</li>
            <li>student numbers and information</li>
          </ul>
        </div>
        <div class="card-button">
          <button class="govuk-button" data-module="govuk-button">
            View absence and student
          </button>
        </div>
      </div>

      <div class="govuk-card">
        <div class="card-content">
          <h2 class="govuk-heading-m">Workforce and finance</h2>

          <p class="govuk-body">This includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>teacher and support staff numbers</li>
            <li>school income and spending</li>
          </ul>
        </div>
        <div class="card-button">
          <button class="govuk-button" data-module="govuk-button">
            View workforce and finance
          </button>
        </div>
      </div>
      <div class="govuk-form-group" id="footer">
        <h2 class="govuk-heading-m">Explore this information more</h2>
        <img
          src="/public/images/ns_logo.png"
          id="ns-logo"
          alt="The figures on this page are National Statistics. 
              Learn more about National Statistics on the Office for National Statistics 
              website."
        />
        <ul class="govuk-list">
          <li>
            <a href="#" class="govuk-link"
              >Print all information on this school</a
            >
          </li>
          <li>
            <a href="#" class="govuk-link">General guidance</a>
          </li>
          <li>
            <a href="#" class="govuk-link">Publication timetable</a>
          </li>
          <li>
            <a href="#" class="govuk-link">Download school data (1991-2022)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
{% endblock %}
