{% extends "layout-index.html" %} {% block pageTitle %} Index {% endblock %} {%
block content %}

<a href="#" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div
        class="govuk-notification-banner"
        role="region"
        aria-labelledby="govuk-notification-banner-title"
        data-module="govuk-notification-banner"
      >
        <div class="govuk-notification-banner__header">
          <h2
            class="govuk-notification-banner__title"
            id="govuk-notification-banner-title"
          >
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Coronavirus (COVID-19) impact on 2021/22 school and college
            performance data
          </p>

          <p class="govuk-body">With 2021/22 results we recommend:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Not comparing data from previous years.</li>
            <li>Not comparing data between schools and colleges.</li>
            <li>
              Speaking to the school or college about factors that have had an
              effect on results.
            </li>
          </ul>
        </div>
      </div>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m">Sacred Heart Catholic High School</span
        >Secondary performance measures
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Ofsted rating</th>
            <td class="govuk-table__cell">
              Good
              <span style="color: #505a5f">(Inspected 23 June 2022)</span>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Age</th>
            <td class="govuk-table__cell">13 to 18</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sex</th>
            <td class="govuk-table__cell">Mixed</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Location</th>
            <td class="govuk-table__cell">
              Knightsbridge<br />
              Newcastle-upon-Tyne<br />
              NE3 2JH
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="govuk-grid-column-one-third">
      <ul class="govuk-list">
        <li></li>
        <li>
          <a class="govuk-link" href="#">School website (opens in a new tab)</a>
        </li>

        <li>
          <a class="govuk-link" href="#"
            >Apply for a place (opens in a new tab)</a
          >
        </li>
      </ul>
    </div>


    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Progress 8 score</h2>
      <p class="govuk-body">
        This tells you about the progress that pupils in a school make from the
        end of primary school to the end of year 11. Pupils’ results compare to
        other pupils with similar starting points.
      </p>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">School</th>
            <td class="govuk-table__cell">0.37<br />More progress</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Newcastle upon Tyne</th>
            <td class="govuk-table__cell">-0.25<br />Less progress</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">National average</th>
            <td class="govuk-table__cell">-0.03</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        EBacc (English Baccalaureate) average point score
      </h2>
      <p class="govuk-body">
        The EBacc is a set of subjects at GCSE that keeps young people’s options
        open for further study and future careers.
      </p>

      <p class="govuk-body">
        To calculate a pupil’s average point score we take an average of the
        points scored in the 5 EBacc subject areas.
      </p>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">School</th>
            <td class="govuk-table__cell">4.91<br />Above average</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Newcastle upon Tyne</th>
            <td class="govuk-table__cell">4.1<br />Below average</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">National average</th>
            <td class="govuk-table__cell">4.27</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="govuk-grid-column-full">
      <hr
        class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
      />
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        Grade 5 or above in English and maths GCSEs
      </h2>
      <p class="govuk-body">
        Grade 5 in the new grading is a similar level of achievement to a high
        grade C or low grade B in the old grading.
      </p>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">School</th>
            <td class="govuk-table__cell">59%</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Newcastle upon Tyne</th>
            <td class="govuk-table__cell">46%</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">National average</th>
            <td class="govuk-table__cell">50%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        Staying in education or entering employment
      </h2>
      <p class="govuk-body">This is for pupils finishing year 11.</p>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">School</th>
            <td class="govuk-table__cell">97%</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Newcastle upon Tyne</th>
            <td class="govuk-table__cell">92%</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">National average</th>
            <td class="govuk-table__cell">94%</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">More secondary measures</h2>
      <ul class="govuk-list">
        <li>
          <a href="#" class="govuk-link">Other Ebacc measures</a>
        </li>
        <li>
          <a href="#" class="govuk-link"
            >Progress 8 and attainment 8 score grouped by subject area</a
          >
        </li>
        <li>
          <a href="#" class="govuk-link">Key stage 4 subjects in 2021/22</a>
        </li>
        <li>
          <a href="#" class="govuk-link">Measures grouped by pupil type</a>
        </li>

        <li>
          <a href="#" class="govuk-link">Pupil destinations</a>
        </li>
        <li>
          <a href="#" class="govuk-link">Other measures</a>
        </li>
      </ul>
      <hr
        class="govuk-section-break govuk-section-break--l govuk-section-break--visible"
      />
      <div class="govuk-form-group" id="footer">
        <h2 class="govuk-heading-s">More information</h2>
        <img
          src="/public/images/ns_logo.png"
          id="ns-logo"
          alt="The figures on this page are National Statistics. 
                Learn more about National Statistics on the Office for National Statistics 
                website."
        />
        <ul class="govuk-list">
          <li>
            <a href="#" class="govuk-link"
              >Print all information on this school</a
            >
          </li>
          <li>
            <a href="#" class="govuk-link">General guidance</a>
          </li>
          <li>
            <a href="#" class="govuk-link">Publication timetable</a>
          </li>
          <li>
            <a href="#" class="govuk-link">Download school data (1991-2022)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
{% endblock %}
