{% extends "layout-index.html" %} {% block pageTitle %} Schools and colleges
within 5 miles of Newcastle-upon-Tyne, Tyne & Wear {% endblock %} {% block
content %}
<a href="/service-redesign/home-search-index" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Schools and colleges within 5 miles of Newcastle-upon-Tyne, Tyne & Wear
      </h1>
    </div>
    <div class="govuk-grid-column-one-third">

      
    </div>
  </div>
</main>
{% endblock %}
