{% extends "layout-index.html" %} {% block pageTitle %} College pages {%
endblock %} {% block content %}
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="/rework" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m"
          >Find school and college performance data in England</span
        >College pages
      </h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width: 50%">
            College overview
          </dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden"> College overview</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Advanced level qualifications</dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden">
                Advanced level qualifications</span
              >
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Progressing to higher education
          </dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden">
                Progressing to higher education</span
              >
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Student destination</dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden">
                Student destination</span
              >
            </a>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</main>

{% endblock %}
