{% extends "layout-index.html" %} {% block pageTitle %} Download pages {%
endblock %} {% block content %}
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="/rework" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m"
          >Find school and college performance data in England</span
        >Download pages
      </h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width: 50%">Download</dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden"> Download</span>
            </a>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</main>

{% endblock %}
