{% extends "layout-index.html" %} {% block pageTitle %} Home and search pages {%
endblock %} {% block content %}
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="/rework" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m"
          >Find school and college performance data in England</span
        >Home and search pages
      </h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key"  style="width: 80%">Search page</dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="home-search/search">
              Link<span class="govuk-visually-hidden"> search page</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">School search by locations</dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="home-search/search-results">
              Link<span class="govuk-visually-hidden">
                School search by locations</span
              >
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            School search by local authority
          </dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="home-search/search-results-la">
              Link<span class="govuk-visually-hidden">
                School search by local authority</span
              >
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            School search by parliamentary constituency
          </dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="home-search/search-results-pc">
              Link<span class="govuk-visually-hidden">
                School search by parliamentary constituency</span
              >
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            School search by location - with filters
          </dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="home-search/search-results-filters">
              Link<span class="govuk-visually-hidden">
                School search by location - with filters</span
              >
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">MAT search by name</dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="home-search/mat-result">
              Link<span class="govuk-visually-hidden"> MAT search by name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">MAT search by location</dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="home-search/mat-results-location">
              Link<span class="govuk-visually-hidden">
                MAT search by location</span
              >
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            MAT search by location - with filters
          </dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a
              class="govuk-link"
              href="home-search/mat-results-location-filters"
            >
              Link<span class="govuk-visually-hidden">
                MAT search by location - with filters</span
              >
            </a>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</main>

{% endblock %}
