{% extends "layout-index.html" %} {% block pageTitle %} Home and search pages {%
endblock %} {% block content %}
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="/rework" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m"
          >Find school and college performance data in England</span
        >Home and search pages
      </h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:50%">Home page</dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden"> home page</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Search page</dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden"> search page</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Search results</dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden"> search results</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Search results with filters</dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden">
                search results with filters</span
              >
            </a>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</main>

{% endblock %}
