{% extends "layout-index.html" %} {% block pageTitle %} Index {% endblock %} {%
block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <span class="govuk-caption-xl">Academy sponsor led</span>

      <h1 class="govuk-heading-xl">
        Jesmond Park Academy
        <p class="govuk-body">Ages 11 to 18 • Mixed gender</p>
      </h1>
    </div>

    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-m">Share this page</h1>

      <ul class="govuk-list">
        <li><a href="#" class="govuk-link">Twitter</a></li>
        <li><a href="#" class="govuk-link">Facebook</a></li>
        <li><a href="#" class="govuk-link">Email</a></li>
        <li><a href="#" class="govuk-link">Linkedin</a></li>
      </ul>
    </div>

    <div class="govuk-grid-column-full">
      <div class="govuk-inset-text">
        This academy opened on 01/08/2019. Go to
        <a href="#" class="govuk-link">Heaton Manor School</a> for previous
        record.
      </div>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 40%">
              Location
            </th>
            <td class="govuk-table__cell">
              Knightsbridge<br />
              Newcastle-upon-Tyne<br />
              NE3 2JH<br />
              <a href="#" class="govuk-link">Show map</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Ofsted rating</th>
            <td class="govuk-table__cell">
              2 - Good<br />
              <a href="#" class="govuk-link">Oftsed report</a>
            </td>
          </tr>
        </tbody>
      </table>
      <p class="govuk-body">
        <a class="govuk-link" href="#">School website (opens in a new tab)</a>
      </p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Show more school details
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 40%">
                  Education phase:
                </th>
                <td class="govuk-table__cell">Secondary and 16 to 18</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  Religious character:
                </th>
                <td class="govuk-table__cell">Does not apply</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Local authority</th>
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link">Newcastle upon Tyne</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  Headteacher / Principal:
                </th>
                <td class="govuk-table__cell">Principal Steve Smyth</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  Admissions policy:
                </th>
                <td class="govuk-table__cell">Non-selective</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  Unique reference:
                </th>
                <td class="govuk-table__cell">140248</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  Apply for a place:
                </th>
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link">Secondary</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  Financial information:
                </th>
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link"
                    >Schools financial benchmarking</a
                  >
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  Further information:
                </th>
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-link"
                    >Get information about schools</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
    </div>

    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        <a href="">Secondary</a>
      </h2>
      <p class="body">
        These are final results for pupils who completed key stage 4 in the
        summer of 2022, except where stated otherwise.
      </p>
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        <a href="">16 to 18</a>
      </h2>
      <p class="body">
        These are final results for students at this school or college who were
        at the end of their 16 to 18 phase of education, except where stated
        otherwise.
      </p>
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        <a href="">Absence and pupil population</a>
      </h2>
      <p class="body">
        This includes absence rates, pupil numbers and information on pupils
        attending the school.
      </p>
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        <a href="">Workforce and finance </a>
      </h2>
      <p class="body">
        This includes information on the numbers of teachers and support staff,
        school income and spending.
      </p>
    </div>

    <div class="govuk-grid-column-full">
      <p class="govuk-body">
        <a href="#" class="govuk-link"
          >Print full information about this school/college</a
        >
      </p>
      <hr
        class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
      />
      <div class="govuk-form-group" id="footer">
        <img
          src="/public/images/ns_logo.png"
          id="ns-logo"
          alt="The figures on this page are National Statistics. 
                          Learn more about National Statistics on the Office for National Statistics 
                          website."
        />
        <ul class="govuk-list">
          <li>
            <a href="#" class="govuk-link">Guidance</a>
          </li>
          <li>
            <a href="#" class="govuk-link">Download data (1991-2022)</a>
          </li>
          <li>
            <a href="#" class="govuk-link">Publication timetable</a>
          </li>
        </ul>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Is there anything wrong with this page?
            </span>
          </summary>
          <div class="govuk-details__text">
            <h3 class="govuk-heading-m">Help us improve GOV.UK</h3>
            <h4 class="govuk-heading-s">Ofsted data incorrect?</h4>
            <p class="govuk-body">
              It typically takes 1 to 2 months, and can take longer in some
              circumstances, for Ofsted data to be made available and updated
              here following an inspection. For the very latest Ofsted data,
              please visit the <a href="#" class="govuk-link">Ofsted website</a>
            </p>
            <h4 class="govuk-heading-s">Report a problem</h4>
            <p class="govuk-body">
              This form is for reporting problems with the Find school and
              college performance data in England section of the GOV.UK website.
            </p>
            <p class="govuk-body">
              Don't include any personal or financial information, for example
              your National Insurance number or credit card details.
            </p>
            <p class="govuk-body">
              To make a complaint about a school, or a general complaint or
              enquiry,
              <a href="#" class="govuk-link"
                >contact the Department for Education</a
              >. Illegal behaviour should be reported to the police.
            </p>
            <h4 class="govuk-heading-s">What you were doing</h4>
            <p class="govuk-body">
              Please explain, step by step, what you did. If we can reproduce a
              problem, we can try to fix it.
            </p>
            <div class="govuk-form-group">
              <textarea
                class="govuk-textarea"
                id="more-detail"
                name="more-detail"
                rows="5"
                aria-describedby="more-detail-hint"
              ></textarea>

              <h4 class="govuk-heading-s">What went wrong</h4>
              <p class="govuk-body">
                Please explain what you expected to happen, and what actually
                happened. A clear explanation will help us fix the problem.
              </p>
              <div class="govuk-form-group">
                <textarea
                  class="govuk-textarea"
                  id="more-detail"
                  name="more-detail"
                  rows="5"
                  aria-describedby="more-detail-hint"
                ></textarea>
              </div>
              <button class="govuk-button" data-module="govuk-button">
                Send
              </button>
            </div>
          </div>
        </details>
      </div>
    </div>
  </div>
</main>

{% endblock %}
