{% extends "layout-index.html" %} {% block pageTitle %} Secondary school pages
{% endblock %} {% block content %}
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="/rework" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m"
          >Find school and college performance data in England</span
        >Secondary school pages
      </h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width: 50%">
            School overview
          </dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden"> School overview</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Progress 8 and attainment by subject area
          </dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden">
                Progress 8 and attainment by subject area</span
              >
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Pupil destinations</dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden"> Pupil destinations</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Results by pupil characteristic
          </dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden">
                Results by pupil characteristic</span
              >
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subjects entered at key stage 4
          </dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden">
                Subjects entered at key stage 4</span
              >
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subjects entered at key stage 4
          </dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden">
                Subjects entered at key stage 4</span
              >
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Ebacc additional measures</dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden">
                Ebacc additional measures</span
              >
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-l">Progress 8</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width: 50%">
            School overview
          </dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden"> School overview</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Progress 8 and attainment by subject area
          </dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden">
                Progress 8 and attainment by subject area</span
              >
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Pupil destinations</dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden"> Pupil destinations</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Results by pupil characteristic
          </dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden">
                Results by pupil characteristic</span
              >
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subjects entered at key stage 4
          </dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden">
                Subjects entered at key stage 4</span
              >
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subjects entered at key stage 4
          </dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden">
                Subjects entered at key stage 4</span
              >
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Ebacc additional measures</dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Link<span class="govuk-visually-hidden">
                Ebacc additional measures</span
              >
            </a>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</main>

{% endblock %}
