{% extends "layout-index.html" %} {% block pageTitle %} Index {% endblock %} {%
block content %}
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m">Find and compare schools in England</span
        >Prototype index
      </h1>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          Index sections and descriptions
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width: 20%">
              Section
            </th>
            <th scope="col" class="govuk-table__header" style="width: 60%">
              Description
            </th>
            <th scope="col" class="govuk-table__header" style="width: 20%">
              Link
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Live system</th>
            <td class="govuk-table__cell">
              From the live system, includes:
              <ul class="govuk-lis govuk-list--bullet">
                <li>school search</li>
                <li>secondary pages</li>
                <li>MAT pages</li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              <a href="live-system-index">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Round 7</th>
            <td class="govuk-table__cell">
              From the Axure prototypes, these were lined up for User Research.
              Includes:
              <ul class="govuk-lis govuk-list--bullet">
                <li>MAT 2022</li>
                <li>secondary page</li>
                <li>16 to 18 page</li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              <a href="round-7-index">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Other</th>
            <td class="govuk-table__cell">
              Mostly from the Axure prototypes, including round 6 prototypes worked on.
              Includes:
              <ul class="govuk-lis govuk-list--bullet">
                <li>school overview</li>
                <li>MAT pages</li>
                <li>progress 8 graph changes</li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              <a href="other-index">Link</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

{% endblock %}
