{% extends "layout-index.html" %} {% block pageTitle %} Index {% endblock %} {%
block content %}

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m"
          >Find school and college performance data in England</span
        >Design work index
      </h1>
    </div>

    <div class="govuk-grid-column-one-half">
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            <a class="govuk-heading-m" href="rework"
              >Re-work of the current service</a
            >
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <p class="govuk-body">
            Reworking the current system in the new toolkit. Minor changes based
            on the requirement of keep the service as is.
          </p>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            <a class="govuk-heading-m" href="redesign">Redesigning</a>
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <p class="govuk-body">
            Redesigning the pages of the current system. Based on assumptions
            and not relevant for MVP.
          </p>
        </div>
      </div>
    </div>
    <!--
    <div class="govuk-grid-column-one-half">
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            <a class="govuk-heading-m" href="current-system">Live service</a>
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <p class="govuk-body">
            Recreating current pages within the live system.
          </p>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            <a class="govuk-heading-m" href="current-system">Legacy</a>
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <p class="govuk-body">
            Old prototyping that has been implemented or is outdated.
          </p>
        </div>
      </div>
    </div>
     -->
  </div>
</main>
{% endblock %}
