{% extends "layout-index.html" %} {% block pageTitle %} Index {% endblock %} {%
block content %}

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m"
          >Find school and college performance data in England</span
        >Design work index
      </h1>
    </div>
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-column-one-half govuk-card-index">
        <h2 class="govuk-heading-m"><a href="redesign">Redesign work</a></h2>
        <p class="govuk-body">
          Redesigning the pages of the current system. Relevant for the
          potential October 2023 release.
        </p>
      </div>
      <div class="govuk-grid-column-one-half govuk-card-index">
        <h2 class="govuk-heading-m">
          <a href="current-system">Current system</a>
        </h2>
        <p class="govuk-body">
          Recreating current pages within the live system.
        </p>
      </div>
      <div class="govuk-grid-column-one-half govuk-card-index">
        <h2 class="govuk-heading-m"><a href="legacy">Legacy</a></h2>
        <p class="govuk-body">
          Old prototyping that has been implemented or is outdated.
        </p>
      </div>
      <div class="govuk-grid-column-one-half govuk-card-index">
        <h2 class="govuk-heading-m"><a href="">Experimental</a></h2>
        <p class="govuk-body">
          Working alongside the redesign piece. Includes brainstorming custom
          components and graphs.
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
