{% extends "layout-index.html" %} {% block pageTitle %} Legacy prototypes {%
endblock %} {% block content %}
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="index" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m"
          >Find school and college performance data in England</span
        >Legacy prototypes
      </h1>
      <div
        class="govuk-accordion"
        data-module="govuk-accordion"
        id="accordion-default"
      >
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span
                class="govuk-accordion__section-button"
                id="accordion-default-heading-1"
              >
                February 2022 releases
              </span>
            </h2>
          </div>
          <div
            id="accordion-default-content-1"
            class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-1"
          >
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">
                Prototype
              </caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th
                    scope="col"
                    class="govuk-table__header"
                    style="width: 80%"
                  >
                    Page
                  </th>
                  <th scope="col" class="govuk-table__header">Prototype</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Secondary</td>

                  <td class="govuk-table__cell">
                    <a href="feb-release/mat-secondary">Link</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Updated secondary</td>

                  <td class="govuk-table__cell">
                    <a href="feb-release/secondary">Link</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">16 to 18</td>
                  <td class="govuk-table__cell">
                    <a href="feb-release/mat-16-18">Link</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span
                class="govuk-accordion__section-button"
                id="accordion-default-heading-2"
              >
                Round 7
              </span>
            </h2>
          </div>
          <div
            id="accordion-default-content-2"
            class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-2"
          >
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">
                Prototypes
              </caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th
                    scope="col"
                    class="govuk-table__header"
                    style="width: 80%"
                  >
                    Page
                  </th>
                  <th scope="col" class="govuk-table__header">Prototype</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">School overview</td>
                  <td class="govuk-table__cell">
                    <a href="round-7/mat-overview">Link</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Secondary</td>
                  <td class="govuk-table__cell">
                    <a href="round-7/mat-secondary">Link</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">16 to 18</td>
                  <td class="govuk-table__cell">
                    <a href="round-7/mat-16-18">Link</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span
                class="govuk-accordion__section-button"
                id="accordion-default-heading-2"
              >
                Round 6
              </span>
            </h2>
          </div>
          <div
            id="accordion-default-content-2"
            class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-2"
          >
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">
                Copied from round 6 prototypes
              </caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th
                    scope="col"
                    class="govuk-table__header"
                    style="width: 80%"
                  >
                    Page
                  </th>
                  <th scope="col" class="govuk-table__header">
                    Prototype link
                  </th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    Progress 8 collapsed in an accordian
                  </td>
                  <td class="govuk-table__cell">
                    <a href="other/school-secondary-example">Link</a>
                  </td>
                </tr>
                <tr class="govuk-table__row" style="width: 30%">
                  <td class="govuk-table__cell">Different graph colours</td>
                  <td class="govuk-table__cell">
                    <a href="other/school-secondary-pink">Link</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    Initial prototype with old Progress 8 graph
                  </td>
                  <td class="govuk-table__cell">
                    <a href="other/school-secondary">Link</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    Secondary characteristics - initial prototype
                  </td>
                  <td class="govuk-table__cell">
                    <a href="other/school-secondary-characteristics">Link</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    School secondary - added box formatting
                  </td>
                  <td class="govuk-table__cell">
                    <a href="other/school-secondary-example">Link</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    School secondary - no box formatting
                  </td>
                  <td class="govuk-table__cell">
                    <a href="other/school-secondary-no-box">Link</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    School overview - tabs removed
                  </td>
                  <td class="govuk-table__cell">
                    <a href="other/school-overview">Link</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    School overview - tabs included
                  </td>
                  <td class="govuk-table__cell">
                    <a href="other/school-overview-update">Link</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
