{% extends "layout-index.html" %} {% block pageTitle %} Index {% endblock %} {%
block content %}
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="index" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m">Find and compare schools in England</span
        >Live system prototypes
      </h1>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          Main pages
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width: 50%">
              Page
            </th>
            <th scope="col" class="govuk-table__header">Prototype link</th>
            <th scope="col" class="govuk-table__header">Live link</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              Search for schools, colleges and multi-academy trusts
            </td>
            <td class="govuk-table__cell">
              <a href="live-system/home">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a href="https://www.compare-school-performance.service.gov.uk/"
                >Link</a
              >
            </td>
          </tr>
          <tr class="govuk-table__row" style="width: 30%">
            <td class="govuk-table__cell">
              Schools and colleges in and near "Newcastle-upon-Tyne, Tyne &
              Wear"
            </td>
            <td class="govuk-table__cell">
              <a href="live-system/school-search">Link</a>
            </td>
            <td class="govuk-table__cell" style="width: 50%">
              <a
                href="https://www.find-school-performance-data.service.gov.uk/?searchtype=search-by-location&LocationCoordinates=54.97784%2C-1.61292&keywords=Newcastle-upon-Tyne%2C+Tyne+%26+Wear&radius=3"
                >Link</a
              >
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">School page</td>
            <td class="govuk-table__cell">
              <a href="">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a href="https://www.find-school-performance-data.service.gov.uk/school/140081/st-mary's-catholic-school">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Absence and pupil population</td>
            <td class="govuk-table__cell">
              <a href="">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a href="https://www.find-school-performance-data.service.gov.uk/school/140081/st-mary's-catholic-school/absence-and-pupil-population">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Workforce and Finance</td>
            <td class="govuk-table__cell">
              <a href="">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a href="https://www.find-school-performance-data.service.gov.uk/school/140081/st-mary's-catholic-school/workforce-and-finance">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">School workforce in 2018/2019</td>
            <td class="govuk-table__cell">
              <a href="">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a href="https://www.find-school-performance-data.service.gov.uk/school/140081/st-mary's-catholic-school/workforce-and-finance/workforce">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Finance in 2018-2019</td>
            <td class="govuk-table__cell">
              <a href="">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a href="https://www.find-school-performance-data.service.gov.uk/school/108519/gosforth-central-middle-school/workforce-and-finance/finance">Link</a>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          Secondary pages
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width: 50%">
              Page
            </th>
            <th scope="col" class="govuk-table__header">Prototype link</th>
            <th scope="col" class="govuk-table__header">Live link</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Secondary</td>
            <td class="govuk-table__cell">
              <a href="">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a href="#
              https://www.find-school-performance-data.service.gov.uk/school/140081/st-mary's-catholic-school/secondary">Link</a>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              Subjects entered at key stage 4 in 2021/22
            </td>
            <td class="govuk-table__cell">
              <a href="">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a href="https://www.find-school-performance-data.service.gov.uk/school/140081/st-mary's-catholic-school/secondary/subjects-entered">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Results by pupil characteristics</td>
            <td class="govuk-table__cell">
              <a href="">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a href="https://www.find-school-performance-data.service.gov.uk/school/140081/st-mary's-catholic-school/secondary/results-by-pupil-characteristics">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">EBacc additional measures</td>
            <td class="govuk-table__cell">
              <a href="">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a href="https://www.find-school-performance-data.service.gov.uk/school/140081/st-mary's-catholic-school/secondary/ebacc-additional-measures">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              Progress 8 and Attainment score by subject areas
            </td>
            <td class="govuk-table__cell">
              <a href="">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a href="https://www.find-school-performance-data.service.gov.uk/school/140081/st-mary's-catholic-school/secondary/progress-8-and-attainment-score-by-subject-areas">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              Additional entry and achievement measures
            </td>
            <td class="govuk-table__cell">
              <a href="">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a href="https://www.find-school-performance-data.service.gov.uk/school/140081/st-mary's-catholic-school/secondary/additional-entry-and-achievement-measures">Link</a>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Pupil destinations (leavers 2020)</td>
            <td class="govuk-table__cell">
              <a href="">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a href="https://www.find-school-performance-data.service.gov.uk/school/140081/st-mary's-catholic-school/secondary/pupil-destination">Link</a>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          16 to 18 pages
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width: 50%">
              Page
            </th>
            <th scope="col" class="govuk-table__header">Prototype link</th>
            <th scope="col" class="govuk-table__header">Live link</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">16 to 18</td>
            <td class="govuk-table__cell">
              <a href="">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a href="https://www.find-school-performance-data.service.gov.uk/school/140081/st-mary's-catholic-school/16-to-18">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              Intermediate level qualifications (level 3)
            </td>
            <td class="govuk-table__cell">
              <a href="">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a href="https://www.find-school-performance-data.service.gov.uk/school/140081/st-mary's-catholic-school/16-to-18/advanced-level-qualifications">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">English and maths</td>
            <td class="govuk-table__cell">
              <a href="">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a href="https://www.find-school-performance-data.service.gov.uk/school/140081/st-mary's-catholic-school/16-to-18/english-and-maths">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              Student destinations - Progression to education or employment
              (2020 leavers)
            </td>
            <td class="govuk-table__cell">
              <a href="">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a href="https://www.find-school-performance-data.service.gov.uk/school/140081/st-mary's-catholic-school/16-to-18/student-destinations">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              Student destinations - Progression into higher education or
              training (2019 leavers)
            </td>
            <td class="govuk-table__cell">
              <a href="">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a href="https://www.find-school-performance-data.service.gov.uk/school/140081/st-mary's-catholic-school/16-to-18/student-destinations-he">Link</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock %}
