{% extends "layout-index.html" %} {% block pageTitle %} Index {% endblock %} {%
block content %}
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="index" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m">Find and compare schools in England</span
        >Axure prototypes
      </h1>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          Copied from round 6 prototypes
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width: 80%">
              Page
            </th>
            <th scope="col" class="govuk-table__header">Prototype link</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              MAT - Progress 8 collapsed in an accordian
            </td>
            <td class="govuk-table__cell">
              <a href="other/school-secondary-example">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row" style="width: 30%">
            <td class="govuk-table__cell">MAT - Different graph colours</td>
            <td class="govuk-table__cell">
              <a href="other/school-secondary-pink">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              MAT - initial prototype with old Progress 8 graph
            </td>
            <td class="govuk-table__cell">
              <a href="other/school-secondary">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              MAT secondary characteristics - initial prototype
            </td>
            <td class="govuk-table__cell">
              <a href="other/school-secondary-characteristics">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              School secondary - added box formatting
            </td>
            <td class="govuk-table__cell">
              <a href="other/school-secondary-example">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              School secondary - no box formatting
            </td>
            <td class="govuk-table__cell">
              <a href="other/school-secondary-no-box">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">School overview - tabs removed</td>
            <td class="govuk-table__cell">
              <a href="other/school-overview">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">School overview - tabs included</td>
            <td class="govuk-table__cell">
              <a href="other/school-overview-update">Link</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock %}
