{% extends "layout-index.html" %} {% block pageTitle %} Redesign work {%
endblock %} {% block content %}
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="index" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m"
          >Find school and college performance data in England</span
        >Redesign work
      </h1>
      <p class="govuk-body">Each section includes</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>links to each page of the prototype</li>
        <li>status of the pages</li>
        <li>audited findings</li>
        <li>flow charts of the current system</li>
      </ul>

      <div
        class="govuk-accordion"
        data-module="govuk-accordion"
        id="accordion-default"
      >
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span
                class="govuk-accordion__section-button"
                id="accordion-default-heading-1"
              >
                Download journey
              </span>
            </h2>
          </div>
          <div
            id="accordion-default-content-1"
            class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-1"
          >
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">
                Redesigned prototype
              </caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th
                    scope="col"
                    class="govuk-table__header"
                  >
                    Documentation
                  </th>
                  <th scope="col" class="govuk-table__header">Document</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    Screenshotted flow chart of the current system
                  </td>
                  <td class="govuk-table__cell">
                    <a
                      href="https://whimsical.com/download-journey-QXg2uP9LZSLAn9U5qVhhs7"
                      >Link</a
                    >
                  </td>
                </tr>
                <tr class="govuk-table__row" style="width: 30%">
                  <td class="govuk-table__cell">
                    Audited findings - heuristic evaluation of the current
                    system
                  </td>
                  <td class="govuk-table__cell">
                    <a href="">Link</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">
                Redesigned prototype
              </caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" style="width: 60%">Page</th>
                  <th scope="col" class="govuk-table__header">Status</th>
                  <th scope="col" class="govuk-table__header">Prototype</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Download school data</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--turquoise">
                      Close to completion
                    </strong>
                  </td>
                  <td class="govuk-table__cell">
                    <a href="redesign/download-data">Link</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    Where do you want to download data for?
                  </td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--turquoise">
                      Close to completion
                    </strong>
                  </td>
                  <td class="govuk-table__cell">
                    <a href="redesign/download-1">Link</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    What academic year do you want to download data from?
                  </td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--turquoise">
                      Close to completion
                    </strong>
                  </td>
                  <td class="govuk-table__cell">
                    <a href="redesign/download-2">Link</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    What data do you want to download?
                  </td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--turquoise">
                      Close to completion
                    </strong>
                  </td>
                  <td class="govuk-table__cell">
                    <a href="redesign/download-3">Link</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Check your answers</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--turquoise">
                      Close to completion
                    </strong>
                  </td>
                  <td class="govuk-table__cell">
                    <a href="redesign/download-summary">Link</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Download data</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--grey">
                      Not started
                    </strong>
                  </td>
                  <td class="govuk-table__cell">
                    <a href="">Link</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span
                class="govuk-accordion__section-button"
                id="accordion-default-heading-2"
              >
                Results over time
              </span>
            </h2>
          </div>
          <div
            id="accordion-default-content-2"
            class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-2"
          >
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">
                Documentation
              </caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th
                    scope="col"
                    class="govuk-table__header"
                  >
                    Documentation
                  </th>
                  <th scope="col" class="govuk-table__header">Document</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    Screenshots of the current system
                  </td>
                  <td class="govuk-table__cell">
                    <a
                      href="https://whimsical.com/results-over-time-PREktpqjrPYRcrGjN9Ppzv"
                      >Link</a
                    >
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    Audited findings - heuristic evaluation of the current
                    system
                  </td>
                  <td class="govuk-table__cell">
                    <a href="">Link</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">
                Redesigned prototype
              </caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" style="width: 60%">Page</th>
                  <th scope="col" class="govuk-table__header">Status</th>
                  <th scope="col" class="govuk-table__header">Prototype</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    Results over time - organised by subject
                  </td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--turquoise">
                      Close to completion
                    </strong>
                  </td>
                  <td class="govuk-table__cell">
                    <a href="redesign/results-over-time">Link</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    Results over time - organised by score
                  </td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--turquoise">
                      Close to completion
                    </strong>
                  </td>
                  <td class="govuk-table__cell">
                    <a href="redesign/results-over-time-organised">Link</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    What academic year do you want to download data from?
                  </td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--turquoise">
                      Close to completion
                    </strong>
                  </td>
                  <td class="govuk-table__cell">
                    <a href="redesign/download-2">Link</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span
                  class="govuk-accordion__section-button"
                  id="accordion-default-heading-2"
                >
                  Secondary information
                </span>
              </h2>
            </div>
            <div
              id="accordion-default-content-2"
              class="govuk-accordion__section-content"
              aria-labelledby="accordion-default-heading-2"
            >
              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">
                  Documentation
                </caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th
                      scope="col"
                      class="govuk-table__header"
                    >
                      Documentation
                    </th>
                    <th scope="col" class="govuk-table__header">Document</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      Screenshots of the current system
                    </td>
                    <td class="govuk-table__cell">
                      <a
                        href="https://whimsical.com/secondary-information-PptFvJkx56tUUinyZTB5As"
                        >Link</a
                      >
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      Audited findings - heuristic evaluation of the current
                      system
                    </td>
                    <td class="govuk-table__cell">
                      <a href="">Link</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">
                  Redesigned prototype
                </caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header"  style="width: 60%">Page</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">Prototype</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      Secondary performance measures
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--turquoise">
                        Close to completion
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a href="redesign/secondary">Link</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">School overview</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        In progress
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a href="redesign/results-over-time-organised">Link</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
