{% extends "layout-index.html" %} {% block pageTitle %} Index {% endblock %} {%
block content %}
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="index" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m">Find and compare schools in England</span
        >GDS redesign prototypes
      </h1>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          Currently working on:
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width: 80%">
              Page
            </th>
            <th scope="col" class="govuk-table__header">Prototype link</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              Results over time - organised by subject
            </td>
            <td class="govuk-table__cell">
              <a href="redesign/results-over-time">Link</a>
            </td>
          </tr>
          <tr class="govuk-table__row" style="width: 30%">
            <td class="govuk-table__cell">
              Results over time - organised by average
            </td>
            <td class="govuk-table__cell">
              <a href="redesign/results-over-time-organised">Link</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock %}
