{% extends "layout-index.html" %} {% block pageTitle %} Redesign work {%
endblock %} {% block content %}
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="index" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m"
          >Find school and college performance data in England</span
        >Redesign work
      </h1>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            <a class="govuk-heading-m" href="service-redesign/home-search-index"
              >Home and search</a
            ><strong class="govuk-tag govuk-tag--blue"> Not started </strong>
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <p class="govuk-body">Includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Home page</li>
            <li>Search page</li>
            <li>Search results</li>
            <li>Search results with filters</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            <a class="govuk-heading-m" href="service-redesign/primary-index">Primary</a>
            <strong class="govuk-tag govuk-tag--blue"> Not started </strong>
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <p class="govuk-body">Includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Overview</li>
            <li>Results over time</li>
            <li>Results by pupil characteristic</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-full"></div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            <a class="govuk-heading-m" href="service-redesign/secondary-index"
              >Secondary</a
            >
            <strong class="govuk-tag govuk-tag--blue"> Not started </strong>
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <p class="govuk-body">Includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Overview</li>
            <li>Progress 8 and attainment by subject area</li>
            <li>Pupil destinations</li>
            <li>Results by pupil characteristic</li>
            <li>Subjects entered at key stage 4</li>
            <li>Additional entry measures</li>
            <li>EBacc additional measures</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            <a class="govuk-heading-m" href="service-redesign/college-index">College</a>
            <strong class="govuk-tag govuk-tag--blue"> Not started </strong>
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <p class="govuk-body">Includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Overview</li>
            <li>Advanced level qualifications</li>
            <li>Progressing to higher education</li>
            <li>Student destinations</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-full"></div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            <a class="govuk-heading-m" href="service-redesign/other-index">Other</a>
            <strong class="govuk-tag govuk-tag--blue"> Not started </strong>
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <p class="govuk-body">Includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Absence and pupil population</li>
            <li>Workforce and finance</li>
            <li>Comparison tables</li>
            <li>Publication timetable</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            <a class="govuk-heading-m" href="service-redesign/download-index"
              >Download</a
            >
            <strong class="govuk-tag govuk-tag--blue"> Not started </strong>
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <p class="govuk-body">Download journey</p>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
