{% extends "layout-index.html" %} {% block pageTitle %} Redesign work {%
    endblock %} {% block content %}
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <a href="index" class="govuk-back-link">Back</a>
          <h1 class="govuk-heading-xl">
            <span class="govuk-caption-m"
              >Find school and college performance data in England</span
            >Redesign work
          </h1>
          <p class="govuk-body">Each section includes</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>links to each page of the prototype</li>
            <li>status of the pages</li>
            <li>audited findings</li>
            <li>flow charts of the current system</li>
          </ul>
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Lead tenant</h2>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Age</dt>
                  <dd class="govuk-summary-list__value">38</dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> age</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Nationality</dt>
                  <dd class="govuk-summary-list__value">
                    UK national resident in UK
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> nationality</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Working situation</dt>
                  <dd class="govuk-summary-list__value">
                    Part time – less than 30 hours a week
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden">
                        working situation</span
                      >
                    </a>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Person 2</h2>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Details known</dt>
                  <dd class="govuk-summary-list__value">Yes</dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden">
                        whether details are known</span
                      >
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Relationship to lead tenant
                  </dt>
                  <dd class="govuk-summary-list__value">Partner</dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden">
                        relationship to lead tenant</span
                      >
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Age</dt>
                  <dd class="govuk-summary-list__value">42</dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> age</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Working situation</dt>
                  <dd class="govuk-summary-list__value">
                    Unable to work because of long-term sickness or disability
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden">
                        working situation</span
                      >
                    </a>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Person 3</h2>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Details known</dt>
                  <dd class="govuk-summary-list__value">Yes</dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden">
                        whether details are known</span
                      >
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Relationship to lead tenant
                  </dt>
                  <dd class="govuk-summary-list__value">Child</dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden">
                        relationship to lead tenant</span
                      >
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Age</dt>
                  <dd class="govuk-summary-list__value">7</dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> age</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Working situation</dt>
                  <dd class="govuk-summary-list__value">Child under 16</dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden">
                        working situation</span
                      >
                    </a>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </main>
    
    {% endblock %}
    