{% extends "layout-index.html" %} {% block pageTitle %} Index {% endblock %} {%
block content %}
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="index" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m">Find and compare schools in England</span
        >Axure round 7 prototypes
      </h1>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          Round 7
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width: 50%">
              Page
            </th>
            <th scope="col" class="govuk-table__header">Prototype link</th>
            <th scope="col" class="govuk-table__header">Axure link</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">MAT 2022 - overview</td>
            <td class="govuk-table__cell">
              <a href="/round-7/mat-overview">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a
                href="https://kykuo2.axshare.com/#id=94xgnn&p=mat_2022_-_overview&view=default&g=1"
                >Link</a
              >
            </td>
          </tr>
          <tr class="govuk-table__row" style="width: 30%">
            <td class="govuk-table__cell">MAT 2022 - secondary</td>
            <td class="govuk-table__cell">
              <a href="/round-7/mat-secondary">Link</a>
            </td>
            <td class="govuk-table__cell" style="width: 50%">
              <a
                href="https://kykuo2.axshare.com/#id=q91f36&p=mat_2022_-_secondary&view=default&g=1"
                >Link</a
              >
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">MAT 2022 - 16 to 18</td>
            <td class="govuk-table__cell">
              <a href="">Link</a>
            </td>
            <td class="govuk-table__cell">
              <a
                href="https://kykuo2.axshare.com/#id=ea9bif&p=mat_2022_-_16_to_18&view=default&g=1"
                >Link</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock %}
