{% extends "layout-index.html" %} {% block pageTitle %} Index {% endblock %} {%
block content %}

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="/form-handler" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">Check your answers</h1>
            </legend>

            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Area</dt>
                <dd class="govuk-summary-list__value">All of England</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="where">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Academic year</dt>
                <dd class="govuk-summary-list__value">2021 to 2022</dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="academic-year">
                    Change<span class="govuk-visually-hidden">
                      date of birth</span
                    >
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Information to download</dt>
                <dd class="govuk-summary-list__value">
                  Final 16 to 18 study<br />Pupil absence<br />Workforce
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="types-files">
                    Change<span class="govuk-visually-hidden"> address</span>
                  </a>
                </dd>
              </div>
            </dl>
          </fieldset>
        </div>
        <a href="downloads" role="button" class="govuk-button">
          Continue to download files
        </a>
      </form>
    </div>
  </div>
</main>

{% endblock %}
