{% extends "layout-index.html" %} {% block pageTitle %} Index {% endblock %} {%
block content %}
<a href="download-2" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/form-handler" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Question 3 of 3</span>
              <h1 class="govuk-fieldset__heading">
                What data do you want to download?
              </h1>
            </legend>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <legend class="govuk-fieldset__legend">
                  School information and performance
                </legend>

                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="waste"
                      name="waste"
                      type="checkbox"
                      value="carcasses"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="waste"
                    >
                      Spine (general school information)
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="waste-2"
                      name="waste"
                      type="checkbox"
                      value="mines"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="waste-2"
                    >
                      Final key stage 2
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="waste-3"
                      name="waste"
                      type="checkbox"
                      value="farm"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="waste-3"
                    >
                      Final key stage 4
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="waste-3"
                      name="waste"
                      type="checkbox"
                      value="farm"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="waste-3"
                    >
                      Key stage 4 qualification and subject data
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="waste-3"
                      name="waste"
                      type="checkbox"
                      value="farm"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="waste-3"
                    >
                      Final 16 to 18 study
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="waste-3"
                      name="waste"
                      type="checkbox"
                      value="farm"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="waste-3"
                    >
                      16 to 18 value added - qualification type data
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="waste-3"
                      name="waste"
                      type="checkbox"
                      value="farm"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="waste-3"
                    >
                      16 to 18 qualification and subject data
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="waste-3"
                      name="waste"
                      type="checkbox"
                      value="farm"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="waste-3"
                    >
                      16 to 18 value added - subject data
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="waste-3"
                      name="waste"
                      type="checkbox"
                      value="farm"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="waste-3"
                    >
                      Revised key stage 4 pupil destinations
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <legend class="govuk-fieldset__legend">
                  Absence and pupil population
                </legend>

                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="waste"
                      name="waste"
                      type="checkbox"
                      value="carcasses"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="waste"
                    >
                      Pupil absence
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="waste-2"
                      name="waste"
                      type="checkbox"
                      value="mines"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="waste-2"
                    >
                      Pupil population (details about pupil types)
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <legend class="govuk-fieldset__legend">
                  Workforce and finance
                </legend>

                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="waste"
                      name="waste"
                      type="checkbox"
                      value="carcasses"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="waste"
                    >
                      Workforce
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="waste-2"
                      name="waste"
                      type="checkbox"
                      value="mines"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="waste-2"
                    >
                      Spend per pupil
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="waste-2"
                      name="waste"
                      type="checkbox"
                      value="mines"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="waste-2"
                    >
                      Spend per pupil (grouped data)
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
          </fieldset>
        </div>
        <a href="download-summary" role="button" class="govuk-button">
          Continue
        </a>
      </form>
    </div>
  </div>
</main>

{% endblock %}
