{% extends "layout-index.html" %} {% block pageTitle %} Index {% endblock %} {%
block content %}
<a href="academic-year" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/form-handler" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

              <h1 class="govuk-fieldset__heading">
                What information do you want to download?
              </h1>
            </legend>
            <p class="govuk-body">
              These will be separate files you can download.
            </p>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <legend class="govuk-heading-s">
                  School information and performance
                </legend>
                <div id="contact-hint" class="govuk-hint">
                  Select all that apply.
                </div>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="spine"
                      name="info"
                      type="checkbox"
                      value="carcasses"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="spine"
                    >
                      Spine (general school information)
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="ks2"
                      name="info"
                      type="checkbox"
                      value="mines"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="ks2"
                    >
                      Final key stage 2
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="ks4"
                      name="info"
                      type="checkbox"
                      value="farm"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="ks4"
                    >
                      Final key stage 4
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="ks4-qual"
                      name="info"
                      type="checkbox"
                      value="farm"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="ks4-qual"
                    >
                      Key stage 4 qualification and subject data
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="final-1618"
                      name="info"
                      type="checkbox"
                      value="farm"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="final-1618"
                    >
                      Final 16 to 18 study
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="value-1618"
                      name="info"
                      type="checkbox"
                      value="farm"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="value-1618"
                    >
                      16 to 18 value added - qualification type data
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="qual-value-1618"
                      name="info"
                      type="checkbox"
                      value="farm"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="qual-value-1618"
                    >
                      16 to 18 qualification and subject data
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="value-1618"
                      name="waste"
                      type="checkbox"
                      value="farm"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="value-1618"
                    >
                      16 to 18 value added - subject data
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="revised-ks4"
                      name="info"
                      type="checkbox"
                      value="farm"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="revised-ks4"
                    >
                      Revised key stage 4 pupil destinations
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <legend class="govuk-heading-s">
                  Absence and pupil population
                </legend>
                <div id="contact-hint" class="govuk-hint">
                  Select all that apply.
                </div>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="absence"
                      name="pop"
                      type="checkbox"
                      value="carcasses"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="absence"
                    >
                      Pupil absence
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="pop"
                      name="pop"
                      type="checkbox"
                      value="mines"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="pop"
                    >
                      Pupil population (details about pupil types)
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <legend class="govuk-heading-s">Workforce and finance</legend>
                <div id="contact-hint" class="govuk-hint">
                  Select all that apply.
                </div>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="workforce"
                      name="workforce"
                      type="checkbox"
                      value="carcasses"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="workforce"
                    >
                      Workforce
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="spend"
                      name="workforce"
                      type="checkbox"
                      value="mines"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="spend"
                    >
                      Spend per pupil
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input
                      class="govuk-checkboxes__input"
                      id="spend"
                      name="workforce"
                      type="checkbox"
                      value="mines"
                    />
                    <label
                      class="govuk-label govuk-checkboxes__label"
                      for="spend"
                    >
                      Spend per pupil (grouped data)
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
          </fieldset>
        </div>
        <a href="download-summary" role="button" class="govuk-button">
          Continue
        </a>
      </form>
    </div>
  </div>
</main>

{% endblock %}
